<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="con.ezen.carCamping.model.memberMapper">
	<insert id="insertMember" parameterType="MemberDTO">
		insert into member values(?,#{mem_id},#{mem_email},#{mem_password},#{mem_userName},#{mem_nickName},#{mem_phone},#{mem_birthday},#{mem_gender},#{region_num})
	</insert>
</mapper>