<?xml version="1.0" encoding="UTF-8"?>

<mapper namespace="com.ezen.carCamping.model.productMapper"> 
	<select id="listProduct" resultType="productDTO">
	select * from product;
	</select>
	
	<select id="getBoardCount" resultType="int">
	select count(*) from product;
	</select>
	
	<select id="listProdReview" resultType="ProdReviewDTO" parameterType="int">
	select * from ProdReview;
	</select>
	
</mapper>

